
/*estilo para contenedor*/
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/*estilo del header  en flexbox*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabla {
  width: 100%;
}

/* Header color */
.mat-mdc-header-row {
  background-color: #ebcba2d3 !important;
}

/* Filas pares  gris claro  */
.mdc-data-table__row:nth-of-type(even),
.mat-mdc-row:nth-of-type(even),
.mdc-data-table__content .mdc-data-table__row:nth-child(even) {
  background-color: #f7f7f7 !important;
}

/*filas impares blancas*/
.mdc-data-table__row:nth-of-type(odd),
.mat-mdc-row:nth-of-type(odd),
.mdc-data-table__content .mdc-data-table__row:nth-child(odd) {
  background-color: #ffffff !important;
}
