<div class="split-layout">

  <!-- MITAD IZQUIERDA (IMAGEN DE FONDO) -->
  <div class="left-side"></div>

  <!-- MITAD DERECHA (TU FORMULARIO) -->
  <div class="right-side">
    <form class="form-container" (ngSubmit)="save()">
      <h1 class="titulo">Crear usuario</h1>

      <!-- Usuario -->
      <mat-form-field appearance="outline">
        <mat-label>Correo / Usuario</mat-label>
        <input matInput [(ngModel)]="user.usuario" name="usuario" required>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" name="password" required>
      </mat-form-field>

      <!-- Nombre público -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre público</mat-label>
        <input matInput [(ngModel)]="user.nombre_publico" name="nombre_publico" required>
      </mat-form-field>

      <!-- Rol -->
      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="user.id_rol" name="id_rol">
          <mat-option [value]="1">Administrador</mat-option>
          <mat-option [value]="2">Usuario</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Observaciones -->
      <mat-form-field appearance="outline">
        <mat-label>Observaciones</mat-label>
        <textarea matInput rows="3"
          [(ngModel)]="user.observaciones"
          name="observaciones"></textarea>
      </mat-form-field>

      <div class="botones">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-button color="accent" routerLink="/users">Cancelar</button>
      </div>

      <button mat-raised-button color="primary" [routerLink]="['/users/list']">
        <mat-icon>arrow_back</mat-icon>
        Listado de usuarios
      </button>

    </form>
  </div>

</div>
