<section class="search-page">

  <h1 class="titulo-buscador"><mat-icon>search</mat-icon>
    Buscador de series
  </h1>

  <mat-form-field class="search-field" appearance="fill">
    <mat-label>Buscar serie</mat-label>

    <mat-icon matPrefix>search</mat-icon>

    <input
      matInput
      type="search"
      [formControl]="searchInput"
      (input)="searchSeries()"
      placeholder="Introduce el título de una serie">



  </mat-form-field>



  <div
    class="grid mt-4"
    *ngIf="series.length > 0">

    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2"
      *ngFor="let serie of series">

      <app-tv-card [serie]="serie"></app-tv-card>

    </div>

  </div>



</section>
