<div class="split-layout">

  <!-- IZQUIERDA -->
  <div class="left-side"></div>

  <!-- DERECHA -->
  <div class="right-side">
    <div class="form-container">

      <h2 class="titulo">Editar usuario</h2>

      <form [formGroup]="formUser" (ngSubmit)="guardar()">

        <mat-form-field appearance="outline">
          <mat-label>Usuario (email)</mat-label>
          <input matInput formControlName="usuario">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nombre público</mat-label>
          <input matInput formControlName="nombre_publico">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="id_rol">
            <mat-option *ngFor="let rol of roles" [value]="rol.id">
              {{ rol.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Observaciones</mat-label>
          <textarea matInput rows="3" formControlName="observaciones"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña (opcional)</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

        <div class="acciones">
          <button mat-raised-button color="primary" type="submit">Guardar</button>
          <button mat-button color="accent" (click)="volver()">Cancelar</button>
        </div>

      </form>

      <button mat-raised-button color="primary" routerLink="/users">
        ← Listado de usuarios
      </button>

    </div>
  </div>

</div>
