<div class="h-screen flex flex-column justify-content-center align-items-center">

  <div class="login-title">
    <h1>Bienvenido a Rafa Películas</h1>
  </div>
  <mat-card class="p-4 shadow-4 border-round-xl w-full sm:w-30rem">
    <h2 class="text-center mb-3">Iniciar Sesion</h2>

    <!--PASO 1 PONER EMAIL-->
    <form *ngIf="paso===1" [formGroup]="formEmail" (ngSubmit)="siguientePaso()" class="flex flex-column gap-3">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email"/>
        <mat-error *ngIf="formEmail.get('email')?.touched && formEmail.get('email')?.invalid">
          Email invalido
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" [disabled]="loading">Siguiente</button>
    </form>


    <!--PASO 2 PONER CONTRASEÑA-->
    <form *ngIf="paso===2" [formGroup]="formPassword" (ngSubmit)="login()" class="flex flex-column gap-3">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password"/>
      </mat-form-field>

      <div class="flex justify-content-between">
        <button mat-flat-button color="primary" type="button" (click)="paso = 1">Volver</button>
        <button mat-flat-button color="primary">Entrar</button>
      </div>
    </form>
  </mat-card>
</div>
