<mat-sidenav-container class="h-screen">

  <mat-sidenav #sidenav mode="side" class="w-16rem" [opened]="false">

    <div class="sidenav-content">

      <mat-toolbar class="menu-toolbar">
        Menú
      </mat-toolbar>

      <mat-nav-list>
         <!-- Desplegable Películas -->
  <mat-expansion-panel class="menu-expansion">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>theaters</mat-icon>
        <span>Películas</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list-item
      routerLink="/movies/list"
      (click)="sidenav.close()">

      <mat-icon matListItemIcon>local_movies</mat-icon>
      Películas populares

    </mat-list-item>

    <mat-list-item
      routerLink="/movies/favorites"
      (click)="sidenav.close()">

      <mat-icon matListItemIcon>favorite</mat-icon>
      Favoritas

    </mat-list-item>

    <mat-list-item
      routerLink="/movies/watched"
      (click)="sidenav.close()">

      <mat-icon matListItemIcon>visibility</mat-icon>
      Vistas

    </mat-list-item>

    <mat-list-item
    routerLink="/movies/search"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>search</mat-icon>
    Buscar Películas

  </mat-list-item>

  </mat-expansion-panel>

  <mat-expansion-panel class="menu-expansion">

     <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>tv</mat-icon>
      <span>Series</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list-item
    routerLink="/tv/list"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>live_tv</mat-icon>
    Series populares

  </mat-list-item>

  <mat-list-item
    routerLink="/tv/search"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>search</mat-icon>
    Buscar series

  </mat-list-item>

  <mat-list-item
    routerLink="/tv/favorites"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>favorite</mat-icon>
    Favoritas

  </mat-list-item>

  <mat-list-item
    routerLink="/tv/watched"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>visibility</mat-icon>
    Vistas

  </mat-list-item>

  </mat-expansion-panel>



  <!-- Gestión de usuarios -->
  <mat-list-item
    *ngIf="rolUsuario === 1"
    routerLink="/users"
    (click)="sidenav.close()">

    <mat-icon matListItemIcon>group</mat-icon>
    Gestión de usuarios

  </mat-list-item>
      </mat-nav-list>

      <div class="app-version">
        <span>CineLog</span>
        <small>v1.0.0</small>
      </div>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar
      color="primary"
      class="justify-content-between items-center px-4">

      <button
        mat-icon-button
        (click)="sidenav.toggle()">

        <mat-icon>menu</mat-icon>
      </button>

      <span class="text-lg font-bold">
        🎞️ CINELOG 🎞️
      </span>

      <div class="flex items-center align-items-center">

        <span class="text-base font-medium p-3">
          {{ nombrePublico }}
        </span>

        <mat-icon style="font-size: 25px; padding: 10px;">
          account_circle
        </mat-icon>

        <button
          mat-icon-button
          color="accent"
          (click)="logout()"
          matTooltip="Cerrar sesión"
          matTooltipPosition="below"
          [matTooltipShowDelay]="300"
          aria-label="Cerrar sesión">

          <mat-icon style="font-size: 28px;">
            logout
          </mat-icon>

        </button>

      </div>

    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
