<h1>{{ searchInput.value ? 'Resultados de búsqueda' : 'Películas Populares' }}</h1>
<mat-divider></mat-divider>



<!-- ⏳ Spinner de carga -->
<mat-progress-spinner
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
  diameter="40"
  style="margin: 1rem auto; display: block;">
</mat-progress-spinner>

<!-- 📽️ Grid de películas -->
<div class="grid" *ngIf="!loading && movies.length > 0">
  <div *ngFor="let movie of movies" class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2">
    <app-movie-card [movie]="movie"></app-movie-card>
  </div>
</div>

<!-- ⚠️ Mensaje si no hay resultados -->
<p *ngIf="!loading && movies.length === 0 && searchInput.value" class="text-center mt-4">
  ❌ No se encontraron películas con ese título.
</p>
