:host {
  display: block;
background-image: url('https://media.istockphoto.com/id/1303181774/es/foto/fondo-conceptual-de-cine-asientos-de-cine-rojo-y-taza-de-papel-de-caf%C3%A9-o-cola-en-teatro-vac%C3%ADo.jpg?s=612x612&w=0&k=20&c=8-dORvEwuJCmCsBCITdy6clfkixa8weu9QRJ75_pyj0=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  padding: 20px;
   text-align: center;
}


.titulo-favoritos {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 12px 25px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 700;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}



h1::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #3f51b5;
  display: block;
  margin: 8px auto 0 auto;
  border-radius: 2px;
}
